<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ContractflowDatabase"
         connectionString="{Your_Connection_String_Value}"/>
  </connectionStrings>
</configuration>